PORT=5000
MONGODB_URI=mongodb+srv://manjunathkunnitigi_db_user:<PASSWORD>@cluster0.962tccp.mongodb.net/portfolio?appName=Cluster0
FRONTEND_URL=https://YOUR-PORTFOLIO-DOMAIN.vercel.app
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_gmail_app_password
